/*

    店舗一覧画面のcss

*/

img {
    width: 100%;
    height: auto;
    height: 100%;
}
.bg-img {
    width: 100%;
    height: 100%;
    background-image: url("../images/fenrir_bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    color: #fff;
}

.container {
    text-align: center;
}
.container h2 {
    font-size: 1.5rem;
    border-bottom: 1px solid rgb(255, 255, 255);
    display: inline-block;
    padding-bottom: 10px;
}
.shop-container {
    background-color: rgb(255, 255, 255);
    text-align: left;
    margin: 30px auto;
    padding: 10px 10px 40px 10px;
    color: #464646;
    max-width: 750px;
}
.shop-container-text p{
    color: #464646;
    border-bottom:1px solid #464646 ;
    padding: 10px;
}
.shop {
    display: flex;
    justify-content: left;
    border-bottom: 2px solid #7b7b7b;
    padding: 40px 0 10px 0;
}
.shop-image img {
    width: 250px;
    height: 160px;
}
.shop-text {
    padding-left: 40px ;
}
.shop-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.shop-info {
    text-align: left;
    padding-bottom: 10px;
    font-size: 0.9rem;
    margin: 0 auto 20px auto;
}
.detail-shop-btn-container {
    text-align: left;
    min-width: 350px;
    margin: 0 auto;
    max-width: 400px;
}
.detail-shop-btn {
    font-size: 1.2rem;
    background-color: #fdde6e;
    border: 3px solid #594a4e;
    padding: 5px 10px;
    border-radius: 6px;
    font-weight: bold;
    color: #594a4e;
}

@media screen and ( max-width:800px )
{
    .shop-text {
        padding-left: 30px ;
        max-width: 300px;
    }
}
@media screen and ( max-width:600px )
{
    .shop {
        display: block;
        border-bottom: 2px solid #7b7b7b;
        padding: 40px 0 30px 0;
        text-align: center;
    }
    .shop-image img {
        width: 100%;
        max-width: 500px;
        height: 160px;
        margin-bottom: 20px;
    }
    .shop-text {
        margin: 0 auto;
        padding-left: 0px ;
        max-width: 500px;
    }
    .shop-name {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 15px;
        text-align: left;
    }
    .shop-info {
        text-align: left;
        padding-bottom: 10px;
        font-size: 0.9rem;
        margin: 0 auto 20px auto;
    }
    .detail-shop-btn-container {
        text-align: left;
        width: 100%;
        max-width: 600px;
        margin: 0;
    }
    .detail-shop-btn {
        font-size: 1.2rem;
        background-color: #fdde6e;
        border: 3px solid #594a4e;
        padding: 5px 10px;
        border-radius: 6px;
        font-weight: bold;
        color: #594a4e;
    }
}