body {
    min-height: 100vh;
}
header {
    border-bottom: 3px solid #ff8ba7;
    color: #33272a;
}
.header-inner {
    margin: 0 auto;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    height: 50px;
    max-width: 650px;
    padding: 20px;
}
